@keyframes play-big
  from
    background-position: 0
  to
    background-position: -16000px

@keyframes play-small
  from
    background-position: 0
  to
    background-position: -11584px

@keyframes slide
  0%
    opacity: 0
  3%
    opacity: 1
  33%
    opacity: 1
  35%
    opacity: 0
  100%
    opacity: 0

@keyframes change-selector
  0%
    background-color: $color-gray-middle
    height: 3 * $m-xs
  3%
    background-color: $color-black
    height: 4 * $m
  33%
    background-color: $color-black
    height: 4 * $m
  35%
    background-color: $color-gray-middle
    height: 3 * $m-xs
  100%
    background-color: $color-gray-middle
    height: 3 * $m-xs

@keyframes cliprotate
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(0deg)
  50.01%
    transform: rotate(180deg)
  100%
    transform: rotate(180deg)

@keyframes rotate
  0%
    transform: rotate(-45deg)
  100%
    transform: rotate(135deg)

@keyframes showfixed
  0%
    opacity: 0
  49.99%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 1

*
  box-sizing: border-box
  text-decoration: none

body
  background-color: $brand-secondary
  color: $color-black
  font-family: $font-family-base

.hidden
  display: none

.hero
  +container-fluid
  display: flex
  min-height: 100vh
  overflow: hidden
  position: relative

  &__header
    +animate(width)
    align-items: center
    border-bottom: $page-border
    display: flex
    height: $header-height
    position: absolute
    right: 0
    top: 0
    transition-duration: .5s
    white-space: nowrap
    width: 100%
    will-change: opacity
    z-index: $z-low

  &__content
    +row
    display: flex
    flex: 1

  &__left, &__right
    flex: 1
    padding:
      top: $header-height
      left: 0
      right: 0

    @include media-breakpoint-up(md)
      padding:
        left: 2 * $m-xs
        right: 2 * $m-xs

  &__left
    +column(12)
    +column-xl(6)
    align-items: center
    background-color: $brand-secondary
    display: flex
    flex-direction: column
    order: 2
    padding-bottom: 3 * $m

    @include media-breakpoint-up(xl)
      flex-direction: row
      order: 1
      padding-bottom: 0

  &__right
    +column(12)
    +column-xl(6)
    align-items: center
    background-color: $brand-primary
    display: flex
    justify-content: center
    margin-top: 30 * $m-xs
    order: 1

    @include media-breakpoint-up(sm)
      margin-top: 15 * $m-xs

    @include media-breakpoint-up(xl)
      justify-content: initial
      margin-top: 0

  &__image
    display: flex
    height: 272px
    left: 0
    min-width: 362px
    position: relative
    top: 10%

    @include media-breakpoint-up(md)
      height: 555px
      min-width: 724px

    @include media-breakpoint-up(xl)
      left: -25%

    @include media-breakpoint-up(xxl)
      height: 747px
      left: -35%
      min-width: 50 * $m

    .hero__furniture-image
      background:
        image: url("../../assets/images/sprite2.png")
        size: 5792px
      height: 100%
      width: 100%

      @include media-breakpoint-up(md)
        background-size: initial

      @include media-breakpoint-up(xxl)
        background-image: url("../../assets/images/sprite.png")

  &__navbar-left
    +animate(transform, width)
    background-color: $color-black
    bottom: 0
    color: $color-white
    left: -$m-sm
    min-height: 100%
    padding-top: $header-height
    position: absolute
    top: 0
    transform: translateX(-$navbar-left)
    transition-duration: .5s
    width: 0
    will-change: opacity
    z-index: $z-low

    @include media-breakpoint-up(xl)
      min-height: 100vh
      position: relative


  &__navbar-left-container
    display: flex
    flex-direction: column
    padding: 0 $m-xs 0 (3 * $m-sm)

  &__navbar-left-item
    color: $color-yellow-light
    font-size: $font-size-xs
    padding: $m-sm 0

    &:hover
      color: $color-yellow

  &__navbar-menu
    font-size: $font-size-sm
    letter-spacing: 2px
    padding: $m-sm 0 $m
    text-transform: uppercase

  &__navbar-left-close
    color: $color-white
    cursor: pointer
    font-size: $font-size-lg
    padding: $m-xs 12px 8px
    position: absolute
    right: 0
    top: 0
    z-index: $z-low

  &__slide-changer
    bottom: 80%
    display: flex
    flex-direction: column
    left: auto
    padding-left: 0
    position: absolute
    top: $m
    transform: rotate(-90deg)

    @include media-breakpoint-up(xl)
      left: 0
      padding-left: 5 * $m-sm
      position: relative
      top: 0
      transform: rotate(0)

  &__slide-changer-item
    animation: change-selector 24s infinite ease-in-out
    background-color: $color-gray-middle
    height: 3 * $m-xs
    margin-bottom: 2px
    width: 2px

    @include media-breakpoint-up(xl)
      margin-bottom: 1px

    &:nth-of-type(1)
      animation-delay: 0

    &:nth-of-type(2)
      animation-delay: -16s

    &:nth-of-type(3)
      animation-delay: -8s

.header
  &__left, &__right, &__navigation
    flex: 1

  &__navigation
    +hidden-lg
    display: flex
    justify-content: center

  &__menu-title:visited, &__menu-item:visited
    color: $color-black

  &__menu-item
    color: $color-black
    font-size: $font-size-xs
    margin: 0 (6 * $m-xs)
    position: relative

    &:hover, &:hover .header__menu-title, .header__submenu-link:hover
      color: $color-yellow

      .header__menu-title + .header__submenu
        opacity: 1
        top: calc( 50% + $m-xs)
        visibility: visible

  &__submenu
    left: 0
    margin: 0
    opacity: 0
    padding: $m-sm 0 0 0
    position: absolute
    top: calc( 50% + $m)
    transition: all .2s ease
    visibility: hidden
    z-index: $z-high

  &__submenu-item
    background-color: $color-black
    line-height: $m
    list-style: none
    text-align: left
    white-space: nowrap

    &:first-child > .header__submenu-link
      padding-top: $m-sm

    &:last-child > .header__submenu-link
      padding-bottom: $m-sm

  &__submenu-link
    color: $color-yellow-light
    display: block
    padding: $m-xs (3 * $m-xs)
    text-decoration: none

    &:hover
      color: $color-yellow

  &__logo
    align-self: center
    color: $color-black
    font:
      family: $font-family-open
      size: $font-size-xlg
      weight: $font-weight-bold
    margin-left: (6 * $m-xs)
    position: relative

    &:after
      background-color: $color-yellow-light
      bottom: $m-xs
      content: ''
      height: 6px
      position: absolute
      right: -8px
      width: 6px

  &__right
    align:
      items: center
      self: stretch
    display: flex
    justify-content: flex-end

  &__left
    align-self: stretch
    display: flex

  &__icon
    align-items: center
    cursor: pointer
    display: flex

  &__text
    font-size: $font-size-xs
    padding-left: 2 * $m-xs

  &__search, &__user, &__bag
    align:
      items: center
      self: stretch
    border-left: $page-border
    display: flex
    order: 1
    padding: 0 (6 * $m-xs)

  &__search
    height: 15 * $m-xs
    margin-top: 15 * $m-xs
    order: 3
    position: absolute

    @include media-breakpoint-up(sm)
      height: auto
      margin-top: 0
      order: 1
      position: initial

  &__bag
    order: 1

  &__user
    +hidden-lg

  &__menu
    +animate(all)
    cursor: pointer
    height: 3 * $m-xs
    margin: 0 (6 * $m-xs)
    position: relative
    width: 5 * $m-xs

    &:hover
      span
        background-color: $color-yellow

        &:first-child
          margin-right: 50%

        &:last-child
          margin-left: 50%

    span
      background-color: $color-black
      border-radius: 3px
      display: block
      height: 2px
      opacity: 1
      position: absolute
      transform: rotate(0deg)
      transition: $transition-duration $transition-function
      width: 100%

      &:nth-child(1)
        right: 0
        top: 0
        width: 50%

      &:nth-child(2)
        top: 6px

      &:nth-child(3)
        top: 12px
        width: 50%

    &-container
      align:
        items: center
        self: stretch
      border-right: $page-border
      display: flex

  &__inputbox
    left: 8px
    position: relative

    &:hover
      color: $color-yellow

      .header__search-delete, .header__input
        color: $color-yellow

  &__input
    +animate(width, border-radius, box-shadow, padding)
    background: none
    border:
      radius: 100%
      width: 0
    box-shadow: 0 0 0 $stroke currentColor
    cursor: pointer
    font-size: $font-size-xs
    height: $size
    transition-delay: $speed * 2, $speed * 2, $speed * 2, $speed * 2
    width: $size
    will-change: opacity

    &:focus, &:valid
      border-radius: 0
      box-shadow: 0 0 0 1px currentColor
      cursor: text
      outline: 0
      padding: 3 * $m-xs
      transition-delay: 0s, 0s, 0s, $speed/2
      width: $input-width

      + .header__search-delete
        left: -$m
        transition: left $speed ease-in-out 0s
        will-change: opacity

        &:before
          transform: translate(-$m-xs, -50%) rotate(-45deg) scaleY(1.5)
          width: 1px

        &:after
          transform: translate(-$m-xs,-50%) rotate(45deg) scaleY(1.5)
          transition-delay: $speed * 1.8
          width: 1px
          will-change: opacity

  &__search-delete
    +animate(left)
    background: none
    border: 0
    cursor: pointer
    height: $m
    left: 0
    outline: none
    position: relative
    transition-delay: $speed * 2
    width: $m

    &:focus
      outline: none

    &:before
      +animate(transform, width)
      background:  currentColor
      content: ''
      height: $size/4*3
      position: absolute
      transform: translate(-8px, 50%) rotate(-45deg) scaleY(1)
      transition-duration:  $speed/2,  $speed/2
      transition-delay: $speed * 1.5
      width: $stroke
      will-change: opacity

    &:after
      +animate(transform, width)
      background:  currentColor
      content: ''
      height: $size/4*3
      position: absolute
      transform: translate(-4px,-50%) rotate(-45deg) scaleY(0)
      transition-duration: $speed/2, $speed/2
      transition-delay: $speed
      width: $stroke
      will-change: opacity

.item
  &__name
    font:
      family: $font-family-medium
      size: $font-size-xxl + $m-xs
      weight: $font-weight-black
    letter-spacing: $font-size-xs
    text:
      align: right
      transform: uppercase

  &__info
    margin: auto
    min:
      height: 63 * $m-xs
      width: 35 * $m-sm
    padding: 0
    position: relative
    text-align: center

  &__info-slides-container
    display: flex
    justify-content: center
    min-height: 238px

    @include media-breakpoint-up(xl)
      display: flex
      justify-content: flex-end

  &__info-slides-item
    animation: slide 24s ease-in-out infinite
    opacity: 1
    position: absolute
    right: initial

    @include media-breakpoint-up(xl)
      right: 0

    &:nth-of-type(1)
      animation-delay: 0

    &:nth-of-type(2)
      animation-delay: -16s

    &:nth-of-type(3)
      animation-delay: -8s

  &__actions
    align-items: center
    display: flex

  &__price
    padding: (2 * $m) 0 (3 * $m)

  &__price-new
    font-size: $font-size-lg

  &__price-old
    color: $color-gray-dark
    font:
      family: $font-family-light
      size: $font-size-base
    padding-left: $m-sm
    text-decoration: line-through

  &__author
    font:
      family: $font-family-light
      size: $font-size-base

.degree
  align-items: center
  background-color: transparent
  border-radius: 50%
  cursor: pointer
  display: flex
  font:
    size: $font-size-sm
    weight: $font-weight-bold
  height: 13 * $m-xs
  justify-content: center
  position: absolute
  width: 13 * $m-xs

  &:after
    content: '\00b0'

.degree__container
  &:hover
    + .hero__furniture-image
      animation: play-small 1.5s steps(16) infinite

      @include media-breakpoint-up(xxl)
        animation: play-big 1.5s steps(16) infinite

#navbar-menu:checked ~
  .hero__navbar-left
    transform: translateX(0)
    width: $navbar-left

  .hero__header, .subtitle__hero
    width: 100%

@include media-breakpoint-up(xl)
  #navbar-menu:checked ~
    .hero__header, .subtitle__hero
      width: calc(100% - 280px)

.btn
  display: flex

.btn-info, .btn-action // info, action
  &:hover
    background-color: $color-yellow-light
    color: $color-white
    transform: translateY(-$m-sm)

.btn-info
  background-color: $color-white
  color: $color-black
  font-size: $font-size-xs
  padding: $m (10 * $m-xs)
  transition: all .3s ease 0s

.btn-action
  +animate(all)
  background-color: $color-black
  box-shadow: 0 (7 * $m-xs) (14 * $m-xs) (-$m-sm) rgba(0, 0, 0, 0.35)
  color: $color-white
  font-size: $font-size-xs
  letter-spacing: 2px
  padding: (3 * $m-sm) (10 * $m-xs)
  text-transform: uppercase

  &:hover
    color: $color-black

.products
  border-top: $page-border
  display: flex
  flex-direction: column
  width: 100%

  @include media-breakpoint-up(xl)
    flex-direction: row

  &__item
    +column(12)
    +column-xl(4)
    align-items: center
    border-bottom: $page-border
    display: flex
    flex: 1 1 100%
    flex-direction: column
    height: auto
    padding-bottom: 3 * $m

    @include media-breakpoint-up(xl)
      border: none
      border-right: $page-border
      height: 30 * $m
      padding-bottom: 0

    &:last-child
      border-right: none

    .sale
      top: 9 * $m-sm

  &__item-name
    font-size: $font-size-xlg
    letter-spacing: 2px
    padding-bottom: 2 * $m-xs
    text-transform: uppercase

  &__item-author
    font:
      family: $font-family-light
      size: $font-size-sm
    padding-bottom: 7 * $m-xs

  &__item-price
    font-size: $font-size-md

  &__item-image
    +animate(transform)
    background:
      position: 50%
      repeat: no-repeat
      size: cover
    cursor: pointer
    height: 12 * $m
    margin: $m-sm 0
    width: 85%
    will-change: opacity

    @include media-breakpoint-up(sm)
      height: 15 * $m
      margin-bottom: 3 * $m-sm
      width: 85%

    @include media-breakpoint-up(md)
      height: 21 * $m

    @include media-breakpoint-up(lg)
      height: 26 * $m

    @include media-breakpoint-up(xl)
      height: 35 * $m-sm
      margin: (5 * $m-sm) 0 0

    &:hover
      transform: scale(1.2)

    &--first
      background-image: url("../../assets/images/cofee-table.png")

    &--second
      background-image: url("../../assets/images/blue-chair.png")

    &--third
      background-image: url("../../assets/images/seat.png")

  &__item-description
    align-items: center
    display: flex
    flex-direction: column

.subtitle
  font:
    family: $font-family-light
    size: $font-size-sm
  letter-spacing: 3px
  margin-top: $header-height * 3
  right: 0
  text:
    align: center
    transform: uppercase
  top: 0
  +animate(width)
  transition-duration: .5s
  width: 100%
  z-index: $z-low

  &__hero
    position: absolute
    margin-top: 19 * $m-sm

    @include media-breakpoint-up(sm)
      margin-top: 5 * $m-sm
      top: 8%

    @include media-breakpoint-up(xl)
      margin-top: $header-height

  &__posts
    margin-top: 3 * $m

    @include media-breakpoint-up(sm)
      margin-top: 4 * $m

    @include media-breakpoint-up(lg)
      margin-top: 7 * $m

    @include media-breakpoint-up(xl)
      margin-top: 4 * $m

  .hero__border
    border-top: $post-border
    margin: 0 auto
    padding-bottom: 3 * $m-xs
    width: 3 * $m

.recent-posts
  &__content
    +row
    border-top: $page-border
    margin:
      left: auto
      right: auto

  &__info
    display: flex
    flex-direction: column
    margin-bottom: 3 * $m
    text-align: center

    @include media-breakpoint-up(xl)
      margin-bottom: 0

    .btn-posts
      align-self: center
      background-color: transparent
      border: 1px solid $color-gray-dark
      color: $color-black
      display: inline-block
      font-size: $font-size-xs
      margin-top: $m
      padding: $m (12 * $m-xs)

      @include media-breakpoint-up(xl)
        margin-top: 0

      &:hover
        background-color: $color-black
        color: $color-white

  &__info-title
    display: flex
    flex-direction: column
    font:
      family: $font-family-medium
      size: 9 * $m-xs
    letter-spacing: 2px
    padding-bottom: 14 * $m-xs

  &__info-subtitle
    font:
      family: $font-family-light
      size: $font-size-sm
    padding: $m 0

  &__left, &__right
    +column(12)
    +column-xl(6)

  &__left
    background-color: $brand-primary
    min-height: 15 * $m

    @include media-breakpoint-up(lg)
      min-height: 30 * $m

  &__image
    +animate(opacity, transform)
    width: 100%
    will-change: opacity

    &:hover
      opacity: .75
      transform: scale(1.2)

  &__image-wrapper
    margin: auto
    overflow: hidden
    position: relative
    top: 10 * $m-xs
    width: 85%
    z-index: $z-low

    &:hover
      background-color: $color-white

    @include media-breakpoint-up(lg)
      top: 30 * $m-xs

    @include media-breakpoint-up(xl)
      margin: 0 0 0 23%

  &__right
    background-color: $brand-secondary

  &__right-container
    display: flex
    flex-direction: column
    height: 90%
    justify-content: space-between
    padding:
      left: 0
      top: 5 * $m-xs
    width: auto

    @include media-breakpoint-up(lg)
      padding-top: 5 * $m

    @include media-breakpoint-up(xl)
      padding-left: 14 * $m-xs
      width: 25 * $m

.collection
  background-color: $brand-secondary
  display: flex
  height: 17 * $m-sm
  justify-content: space-between
  position: relative

  @include media-breakpoint-up(xl)
    height: 17 * $m

  &__right
    background-color: $brand-primary
    height: 9 * $m
    position: relative
    top: -$m-sm
    width: 9 * $m-sm

    @include media-breakpoint-up(xl)
      height: 18 * $m
      top: -$m
      width: 9 * $m

  &__left
    .subtitle
      bottom: $m
      position: absolute
      top: auto

  &__items
    +container
    display: flex
    flex-wrap: wrap
    justify-content: center
    min-height: 65 * $m-sm
    padding: (5 * $m-xs) 0 (2 * $m)

    @include media-breakpoint-up(xl)
      padding-bottom: (5 * $m)

  &__item
    height: 25 * $m

  &__container-hidden
    display: flex
    flex-direction: column
    height: 100%
    justify-content: space-between
    overflow: hidden

  &__item-wrapper
    +animate(height, background-color, box-shadow)
    background-color: $item-background
    border: $page-border
    cursor: pointer
    display: flex
    flex-direction: column
    height: 45 * $m-sm
    margin: (5 * $m-xs) (3 * $m-xs) 0
    position: relative
    width: 27 * $m-sm
    will-change: opacity

    &:before
      align-self: center
      border-top: 3px solid $color-black
      content: ''
      display: flex
      opacity: 0
      position: relative
      top: -4px
      width: 13 * $m-sm

    &:hover
      background-color: $item-background-hover
      border-bottom: 0
      box-shadow: $box-shadow
      height: 24 * $m

      .collection__button-discover
        opacity: 1

      .collection__item-title
        padding-top: 5 * $m-xs

      .collection__image
        transform: scale(1.3) rotate(-3deg)

      &:before
        opacity: 1

  &__button-discover
    align-self: center
    border: $page-border
    border-bottom: 3px solid $color-black
    color: $color-black
    font-size: $font-size-xs
    opacity: 0
    padding: (3 * $m-xs) (2 * $m)

    &:hover
      background-color: $color-black
      color: $color-white

  &__image
    +animate(transform)
    background:
      position: -30% (-3 * $m-xs)
      repeat: no-repeat
      size: 135%
    height: 33 * $m-sm

    &--tables
      background-image: url("../../assets/images/table.png")

    &--lamps
      background-image: url("../../assets/images/lamp.png")

    &--chairs
      background-image: url("../../assets/images/chair.png")

    &--sofas
      background-image: url("../../assets/images/sofa.png")

  &__item-title
    +animate(padding-top)
    flex: 1
    font:
      size: $font-size-lg
      weight: $font-weight-bold
    letter-spacing: 2px
    padding-top: 2 * $m
    text:
      align: center
      transform: uppercase

.newsletter
  background-color: #d1e4f3
  padding: (10 * $m-xs) $m-sm

  @include media-breakpoint-up(xl)
    padding: (14 * $m-xs) 0

  &__wrapper
    +container
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__left
    display: flex
    flex-direction: column
    flex: 1
    padding-right: 7 * $m-xs

  &__right
    flex: 1
    min-width: 33 * $m-sm
    padding-top: $m

    @include media-breakpoint-up(xl)
      padding-top: 0

  &__title
    font:
      family: $font-family-medium
      size: $font-size-xl
    letter-spacing: 1px
    padding-bottom: $m
    white-space: nowrap

    @include media-breakpoint-up(xl)
      font-size: 2 * $font-size-base

  &__info
    display: flex
    flex-direction: column
    font:
      family: $font-family-light
      size: $font-size-sm
    line-height: 6 * $m-xs

  &__input
    background-color: transparent
    border: none
    border-bottom: 2px solid $color-black
    line-height: 9 * $m-xs
    outline: none
    width: 100%

    &::placeholder
      color: $color-gray
      font:
        family: $font-family-light
        size: 2 * $font-size-base

  &__form
    align-items: flex-end
    display: flex
    flex-direction: column

    .btn-action:hover
      &:hover
        transform: none

.footer
  &__container, &__bottom-container
    +container

  &__container
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: space-between
    padding: (3 * $m) 0 $m

    @include media-breakpoint-up(md)
      flex-direction: row

    @include media-breakpoint-up(xl)
      padding: (4 * $m) 0

  &__bottom-container
    display: flex
    justify-content: space-between
    padding: 0 $m

    @include media-breakpoint-up(xl)
      padding: 0 $m 0 0

  &__left
    display: flex
    flex: 1
    justify-content: space-between
    padding: 0 $m

    @include media-breakpoint-up(xl)
      padding: $m-sm

  &__right
    flex: 1
    justify-content: flex-end
    padding: (2 * $m) $m $m
    text-align: right

    @include media-breakpoint-up(md)
      padding-top: 0

    @include media-breakpoint-up(xl)
      padding-right: $m-sm

  &__left-column
    display: flex
    flex-direction: column
    padding-right: 0

    @include media-breakpoint-up(sm)
      padding-right: 2 * $m

  &__bottom
    border-top: $page-border
    display: flex
    justify-content: space-between
    padding: (6 * $m-xs) 0

  &__column-title
    font:
      family: $font-family-medium
      size: $font-size-md
    padding-bottom: 6 * $m-xs

  &__link
    color: $color-black
    font:
      family: $font-family-light
      size: $font-size-sm
    line-height: 4 * $m-xs
    padding-bottom: $m-sm

    &:hover
      color: $color-yellow

  &__address
    display: flex
    flex-direction: column
    font-size: $font-size-xl
    padding: 0
    white-space: nowrap

    @include media-breakpoint-up(xl)
      padding-bottom: 2 * $m
      padding-left: 7 * $m-xs

  &__contact
    display: flex
    flex-direction: column
    padding-top: 2 * $m

    @include media-breakpoint-up(xl)
      padding-top: 0

    span
      padding-bottom: 3 * $m-xs

  &__info
    color: $color-font-footer
    font:
      family: $font-family-light
      size: $font-size-xs
    display: flex
    line-height: $m
    padding-right: $m

  &__social
    display: flex
    flex-direction: column

    @include media-breakpoint-up(sm)
      flex-direction: row

    @include media-breakpoint-up(xl)
      flex: 0
      flex-direction: row

  &__social-title
    font:
      family: $font-family-medium
      size: $font-size-sm
    line-height: $m
    padding-right: $m
    white-space: nowrap

  &__social-icons
    padding-top: $m
    white-space: nowrap

    a
      color: $color-social
      padding-right: $m-sm

      &:last-child
        padding-right: 0

    @include media-breakpoint-up(sm)
      padding-top: 0

.sale
  background-color: $color-yellow-light
  color: $color-white
  font-size: $font-size-xs
  left: -$font-size-lg
  letter-spacing: 2px
  padding: 7px (3 * $m-xs)
  position: absolute
  text-transform: uppercase
  top: 13 * $m-xs
  transform: rotate(-90deg)

.degree-off
  border: (2 * $m-xs) solid $color-yellow-light

.degree-on
  display: none

.degree
  height: (13 * $m-xs)
  position: absolute
  width: (13 * $m-xs)

  &__container
    height: (13 * $m-xs)
    position: absolute
    right: -$m-sm
    top: 20%
    width: (13 * $m-xs)

    @include media-breakpoint-up(xl)
      right: 4 * $m

    &:hover
      .degree-off
        display: none

      .degree-on
        display: flex

.halfclip
  height: 100%
  overflow: hidden
  position: absolute
  right: 0
  transform-origin: left center
  width: 50%

.degree__container:hover .halfclip
  animation: cliprotate 1.5s infinite

.halfcircle
  border: solid (2 * $m-xs) transparent
  border-left-color: $color-yellow-light
  border-radius: 50%
  border-top-color: $color-yellow-light
  box-sizing: border-box
  height: 100%
  position: absolute
  right: 0

.clipped
  transform: rotate(-45deg)
  width: 200%

.degree__container:hover .clipped
  animation: rotate .75s linear infinite

.fixed
  opacity: 0
  transform: rotate(135deg)
  width: 100%

.degree__container:hover .fixed
  animation: showfixed 1.5s infinite
  opacity: 1
