@keyframes play
  from
    background-position: 0
  to
    background-position: -16000px

*
  box-sizing: border-box
  text-decoration: none

body
  font-family: $font-family-base
  color: $color-black

.hidden
  display: none

.hero
  +container-fluid
  display: flex
  min-height: 100vh
  overflow: hidden

  &__header
    align-items: center
    border-bottom: 1px solid $color-gray
    display: flex
    height: $header-height
    position: absolute
    right: 0
    top: 0
    transition: width .5s ease-in-out
    white-space: nowrap
    width: 100%
    z-index: $z-low

  &__content
    +row
    display: flex
    flex: 1

  &__left, &__right
    flex: 1
    padding-top: $header-height

  &__left
    +column(6)
    align-items: center
    background-color: $brand-secondary
    display: flex
    justify-content: center

  &__right
    +column(6)
    align-items: center
    background-color: $brand-primary
    display: flex

  &__image
    align-items: center
    display: flex
    height: 747px
    left: -35%
    min-width: 1000px
    position: relative
    top: 10%

    .hero__furniture-image
      background-image: url("../../assets/images/sprite.png")
      height: 100%
      width: 100%

  &__subtitle
    font:
      family: $font-family-light
      size: $font-size-sm
    left: 0
    letter-spacing: 3px
    margin-top: $header-height
    position: absolute
    text:
      align: center
      transform: uppercase
    top: 8%
    width: 100%
    z-index: 1

    .hero__border
      border-top: 1px solid #000
      margin: 0 auto
      padding-bottom: 3 * $m-xs
      width: 3 * $m

  &__navbar-left
    min-height: 100vh
    padding-top: $header-height
    transform: translateX(-280px)
    transition: transform .5s ease-in-out, width .5s ease-in-out
    width: 0

.header
  &__left, &__right, &__navigation
    flex: 1

  &__navigation
    display: flex
    justify-content: center

  &__menu-item
    color: $color-black
    font-size: $font-size-xs
    margin: 0 (6 * $m-xs)
    position: relative

    ul
      left: 0
      margin: 0
      opacity: 0
      padding: $m-sm 0 0 0
      position: absolute
      top: calc( 50% + $m)
      transition: all .2s ease
      visibility: hidden
      z-index: $z-high

      li
        background-color: $color-black
        line-height: $m
        list-style: none
        text-align: left
        white-space: nowrap

        a
          color: $color-yellow
          display: block
          padding: $m-xs (3 * $m-xs)
          text-decoration: none
          transition: all .3s ease

          &:hover
            color: $color-yellow-light

        &:first-child > a
          padding-top: $m-sm

        &:last-child > a
          padding-bottom: $m-sm

    &:hover, a:hover
      color: $color-yellow

      a + ul
        opacity: 1
        top: calc( 50% + $m-xs)
        visibility: visible

  &__logo
    align-self: center
    color: $color-black
    font-family: $font-family-open
    font-size: 27px
    font-weight: $font-weight-bold
    margin-left: (6 * $m-xs)
    position: relative

    &:after
      background-color: $color-yellow-light
      bottom: $m-xs
      content: ''
      height: 6px
      position: absolute
      right: -8px
      width: 6px

  &__right
    align:
      items: center
      self: stretch
    display: flex
    justify-content: flex-end

  &__left
    align-self: stretch
    display: flex

  &__icon
    align-items: center
    cursor: pointer
    display: flex

  &__text
    font-size: $font-size-xs
    padding-left: 2 * $m-xs

  &__search, &__user, &__bag
    align:
      items: center
      self: stretch
    border-left: 1px solid $color-gray
    display: flex
    padding: 0 (6 * $m-xs)


.item
  &__name
    font:
      family: $font-family-medium
      size: $font-size-xxl
      weight: $font-weight-black
    letter-spacing: $font-size-xs
    text-transform: uppercase

  &__info
    padding: 0 (30 * $m-xs)

  &__actions
    display: flex

.degree
  align-items: center
  background-color: transparent
  border: (2 * $m-xs) solid $color-yellow-light
  border-radius: 50%
  cursor: pointer
  display: flex
  font-size: $font-size-sm
  font-weight: $font-weight-bold
  height: 13 * $m-xs
  justify-content: center
  position: absolute
  right: 2 * $m-xs
  width: 13 * $m-xs

  &:after
    content: '\00b0'

  &:hover
    + .hero__furniture-image
      animation: play 1.5s steps(16) infinite

.header__menu
  cursor: pointer
  height: 3 * $m-xs
  margin: 0 (6 * $m-xs)
  position: relative
  transition: all $transition-duration $transition-function
  width: 5 * $m-xs

  &:hover
    span
      background-color: $color-yellow

      &:first-child
        margin-right: 50%

      &:last-child
        margin-left: 50%

  span
    background-color: $color-black
    border-radius: 3px
    display: block
    height: 2px
    opacity: 1
    position: absolute
    transform: rotate(0deg)
    transition: $transition-duration $transition-function
    width: 100%

    &:nth-child(1)
      right: 0
      top: 0
      width: 50%

    &:nth-child(2),
    &:nth-child(3)
      top: 6px

    &:nth-child(4)
      top: 12px
      width: 50%

  &-container
    align:
      items: center
      self: stretch
    border-right: 1px solid $color-gray
    display: flex

#navbar-menu:checked ~
  .hero__navbar-left
    transform: translateX(0)
    width: 280px

  .hero__header
    width: calc(100% - 280px)

.inputbox
  left: 8px
  position: relative

  &:hover
    color: $color-yellow

    .header__search-delete, input
      color: $color-yellow

  input
    background: none
    border:
      radius: 100%
      width: 0
    box-shadow: 0 0 0 $stroke currentColor
    cursor: pointer
    font-size: $font-size-xs
    height: $size
    transition: width $speed ease-in-out, border-radius $speed ease-in-out, box-shadow $speed ease-in, padding $speed ease-in-out
    transition-delay: $speed * 2, $speed * 2, $speed * 2, $speed * 2
    width: $size
    will-change: opacity

    &:focus, &:valid
      border-radius: 0
      box-shadow: 0 0 0 1px currentColor
      cursor: text
      outline: 0
      padding: 3 * $m-xs
      transition-delay: 0s, 0s, 0s, $speed/2
      width: $input-width

      + .header__search-delete
        left: -$m
        transition: left $speed ease-in-out 0s
        will-change: opacity

        &:before
          transform: translate(-$m-xs, -50%) rotate(-45deg) scaleY(1.5)
          width: 1px

        &:after
          transform: translate(-$m-xs,-50%) rotate(45deg) scaleY(1.5)
          transition-delay: $speed * 1.8
          width: 1px
          will-change: opacity

  .header__search-delete
    background: none
    border: 0
    cursor: pointer
    height: $m
    left: 0
    outline: none
    position: relative
    transition: left $speed ease-in-out $speed * 2
    width: $m

    &:focus
      outline: none

    &:before
      background:  currentColor
      content: ''
      height: $size/4*3
      position: absolute
      transform: translate(-8px, 50%) rotate(-45deg) scaleY(1)
      transition: transform $speed/2 ease-in-out, width $speed/2 ease-in-out
      transition-delay: $speed * 1.5
      width: $stroke
      will-change: opacity

    &:after
      background:  currentColor
      content: ''
      height: $size/4*3
      position: absolute
      transform: translate(-4px,-50%) rotate(-45deg) scaleY(0)
      transition: transform $speed/2 ease-in-out, width $speed/2 ease-in-out
      transition-delay: $speed
      width: $stroke
      will-change: opacity
