@charset "UTF-8";
@import url(vendor/normalize.css);
@media (max-width: 575.99px) {
  .hidden-xs {
    display: none !important; } }

@media (max-width: 767.99px) {
  .hidden-sm {
    display: none !important; } }

@media (max-width: 991.99px) {
  .hidden-md {
    display: none !important; } }

@media (max-width: 1199.99px) {
  .hidden-lg {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-xl {
    display: none !important; } }

.hero__left, .hero__right, .products__item, .recent-posts__left, .recent-posts__right {
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 100%; }

@font-face {
  font-family: "Rubik";
  src: url("shared/fonts/Rubik-Regular.woff2") format("woff2"), url("shared/fonts/Rubik-Regular.woff") format("woff");
  font-style: normal; }
@font-face {
  font-family: "Rubik-light";
  src: url("shared/fonts/Rubik-Light.woff2") format("woff2"), url("shared/fonts/Rubik-Light.woff") format("woff");
  font-style: normal; }
@font-face {
  font-family: "Rubik-medium";
  src: url("shared/fonts/Rubik-Medium.woff2") format("woff2"), url("shared/fonts/Rubik-Medium.woff") format("woff");
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url("shared/fonts/OpenSans-SemiBold.woff2") format("woff2"), url("shared/fonts/OpenSans-SemiBold.woff") format("woff");
  font-style: normal; }
@font-face {
  font-family: "stile";
  src: url("shared/fonts/stile.eot") format("embedded-opentype");
  src: url("shared/fonts/stile.svg") format("svg");
  src: url("shared/fonts/stile.woff2") format("woff2"), url("shared/fonts/stile.woff") format("woff");
  src: url("shared/fonts/stile.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
[class*=icon--] {
  display: inline-block;
  height: 20px; }
  [class*=icon--]:active, [class*=icon--]:hover, [class*=icon--]:focus {
    text-decoration: none; }
  [class*=icon--]:before {
    display: block;
    font-family: "stile" !important;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle; }
  [class*=icon--] + *, * + [class*=icon--] {
    margin-left: 10px; }
  [class*=icon--]:hover {
    color: #daaa17;
    cursor: pointer; }

.icon--bag:before {
  content: "\eb21"; }

.icon--search:before {
  content: "\eb36"; }

.icon--user:before {
  content: "\eb0e"; }

.icon--twitter:before {
  content: "\eef5"; }

.icon--facebook:before {
  content: "\eef0"; }

.icon--pinterest:before {
  content: "\ef30"; }

.icon--instagram:before {
  content: "\ea92"; }

.icon--bag:before {
  font-size: 24px;
  position: relative; }

@-webkit-keyframes play-big {
  from {
    background-position: 0; }
  to {
    background-position: -16000px; } }

@keyframes play-big {
  from {
    background-position: 0; }
  to {
    background-position: -16000px; } }
@-webkit-keyframes play-small {
  from {
    background-position: 0; }
  to {
    background-position: -11584px; } }
@keyframes play-small {
  from {
    background-position: 0; }
  to {
    background-position: -11584px; } }
@-webkit-keyframes slide {
  0% {
    opacity: 0; }
  3% {
    opacity: 1; }
  33% {
    opacity: 1; }
  35% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes slide {
  0% {
    opacity: 0; }
  3% {
    opacity: 1; }
  33% {
    opacity: 1; }
  35% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes change-selector {
  0% {
    background-color: rgba(189, 192, 189, 0.5);
    height: 15px; }
  3% {
    background-color: #36373b;
    height: 80px; }
  33% {
    background-color: #36373b;
    height: 80px; }
  35% {
    background-color: rgba(189, 192, 189, 0.5);
    height: 15px; }
  100% {
    background-color: rgba(189, 192, 189, 0.5);
    height: 15px; } }
@keyframes change-selector {
  0% {
    background-color: rgba(189, 192, 189, 0.5);
    height: 15px; }
  3% {
    background-color: #36373b;
    height: 80px; }
  33% {
    background-color: #36373b;
    height: 80px; }
  35% {
    background-color: rgba(189, 192, 189, 0.5);
    height: 15px; }
  100% {
    background-color: rgba(189, 192, 189, 0.5);
    height: 15px; } }
@-webkit-keyframes cliprotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50.01% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }
@keyframes cliprotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50.01% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); } }
@keyframes rotate {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); } }
@-webkit-keyframes showfixed {
  0% {
    opacity: 0; }
  49.99% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes showfixed {
  0% {
    opacity: 0; }
  49.99% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none; }

body {
  background-color: #ecedf1;
  color: #36373b;
  font-family: "Rubik", sans-serif; }

ul {
  margin: 0;
  padding: 0; }

.hidden {
  display: none; }

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative; }
  .hero__header {
    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(189, 192, 189, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 55px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    white-space: nowrap;
    width: 100%;
    will-change: opacity;
    z-index: 200; }
    @media (min-width: 992px) {
      .hero__header {
        height: 75px; } }
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    will-change: transform; }
  .hero__left, .hero__right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-top: 75px;
    padding-left: 0;
    padding-right: 0;
    will-change: transform; }
    @media (min-width: 768px) {
      .hero__left, .hero__right {
        padding-left: 10px;
        padding-right: 10px; } }
  .hero__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ecedf1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-bottom: 60px; }
    @media (min-width: 1200px) {
      .hero__left {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%; } }
    @media (min-width: 1200px) {
      .hero__left {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        padding-bottom: 0; } }
  .hero__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #d1e4f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 55px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    @media (min-width: 1200px) {
      .hero__right {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%; } }
    @media (min-width: 992px) {
      .hero__right {
        margin-top: 75px; } }
    @media (min-width: 1200px) {
      .hero__right {
        -webkit-box-pack: initial;
            -ms-flex-pack: initial;
                justify-content: initial;
        margin-top: 0; } }
  .hero__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 272px;
    left: 0;
    min-width: 362px;
    position: relative;
    top: 10%; }
    @media (min-width: 768px) {
      .hero__image {
        height: 555px;
        min-width: 724px; } }
    @media (min-width: 1200px) {
      .hero__image {
        left: -25%; } }
    @media (min-width: 1400px) {
      .hero__image {
        height: 747px;
        left: -35%;
        min-width: 1000px; } }
    .hero__image .hero__furniture-image {
      background-image: url("../../assets/images/sprite2.png");
      background-size: 5792px;
      height: 100%;
      width: 100%; }
      @media (min-width: 768px) {
        .hero__image .hero__furniture-image {
          background-size: cover; } }
      @media (min-width: 1400px) {
        .hero__image .hero__furniture-image {
          background-image: url("../../assets/images/sprite.png"); } }
  .hero__navbar-left {
    -webkit-transition-property: width, -webkit-transform;
    transition-property: width, -webkit-transform;
    transition-property: transform, width;
    transition-property: transform, width, -webkit-transform;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    background-color: #36373b;
    bottom: 0;
    color: #ffffff;
    left: -10px;
    min-height: 100%;
    padding-top: 75px;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-280px);
            transform: translateX(-280px);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    width: 0;
    will-change: opacity;
    z-index: 400; }
    @media (min-width: 1200px) {
      .hero__navbar-left {
        min-height: 100vh; } }
  .hero__navbar-left-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5px 0 30px; }
  .hero__navbar-left-item {
    color: #ecd17e;
    font-size: 12px;
    padding: 10px 0; }
    .hero__navbar-left-item:hover {
      color: #daaa17; }
  .hero__navbar-menu {
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 0 20px;
    text-transform: uppercase; }
  .hero__navbar-left-close {
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 12px 8px;
    position: absolute;
    right: 0;
    top: 0; }
    .hero__navbar-left-close:hover {
      color: #daaa17; }
  .hero__slide-changer {
    bottom: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: auto;
    padding-left: 0;
    position: absolute;
    top: 20px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
    @media (min-width: 1200px) {
      .hero__slide-changer {
        left: 0;
        padding-left: 50px;
        position: relative;
        top: 0;
        -webkit-transform: rotate(0);
                transform: rotate(0); } }
  .hero__slide-changer-item {
    -webkit-animation: change-selector 24s infinite ease-in-out;
            animation: change-selector 24s infinite ease-in-out;
    background-color: rgba(189, 192, 189, 0.5);
    height: 15px;
    margin-bottom: 2px;
    width: 2px; }
    @media (min-width: 1200px) {
      .hero__slide-changer-item {
        margin-bottom: 1px; } }
    .hero__slide-changer-item:nth-of-type(1) {
      -webkit-animation-delay: 0;
              animation-delay: 0; }
    .hero__slide-changer-item:nth-of-type(2) {
      -webkit-animation-delay: -16s;
              animation-delay: -16s; }
    .hero__slide-changer-item:nth-of-type(3) {
      -webkit-animation-delay: -8s;
              animation-delay: -8s; }

.header__left, .header__right, .header__navigation {
  background-color: #ecedf1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  z-index: 200; }
  @media (min-width: 1200px) {
    .header__left, .header__right, .header__navigation {
      background-color: transparent; } }
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 1199.99px) {
    .header__navigation {
      display: none !important; } }
.header__menu-title:visited, .header__menu-item:visited {
  color: #36373b; }
.header__menu-item {
  color: #36373b;
  font-size: 12px;
  margin: 0 30px;
  position: relative; }
  .header__menu-item:hover, .header__menu-item:hover .header__menu-title, .header__menu-item .header__submenu-link:hover {
    color: #daaa17; }
    .header__menu-item:hover .header__menu-title + .header__submenu, .header__menu-item:hover .header__menu-title .header__menu-title + .header__submenu, .header__menu-item .header__submenu-link:hover .header__menu-title + .header__submenu {
      opacity: 1;
      top: calc( 50% + $m-xs);
      visibility: visible; }
.header__submenu {
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 10px 0 0 0;
  position: absolute;
  top: calc( 50% + $m);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  visibility: hidden;
  z-index: 300; }
.header__submenu-item {
  background-color: #36373b;
  line-height: 20px;
  list-style: none;
  text-align: left;
  white-space: nowrap; }
  .header__submenu-item:first-child > .header__submenu-link {
    padding-top: 10px; }
  .header__submenu-item:last-child > .header__submenu-link {
    padding-bottom: 10px; }
.header__submenu-link {
  color: #ecd17e;
  display: block;
  padding: 5px 15px;
  text-decoration: none; }
  .header__submenu-link:hover {
    color: #daaa17; }
.header__logo {
  -ms-flex-item-align: center;
      align-self: center;
  color: #36373b;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  position: relative; }
  @media (min-width: 992px) {
    .header__logo {
      font-size: 27px;
      margin-left: 30px; } }
  .header__logo:after {
    background-color: #ecd17e;
    bottom: 4px;
    content: "";
    height: 6px;
    position: absolute;
    right: -8px;
    width: 6px; }
    @media (min-width: 992px) {
      .header__logo:after {
        bottom: 5px; } }
.header__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
.header__left {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.header__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.header__text {
  display: none;
  font-size: 12px;
  padding-left: 10px; }
  @media (min-width: 992px) {
    .header__text {
      display: block; } }
.header__search, .header__user, .header__bag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-color: #ecedf1;
  border-left: 1px solid rgba(189, 192, 189, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 15px;
  z-index: 200; }
  .header__search:hover, .header__user:hover, .header__bag:hover {
    color: #daaa17;
    cursor: pointer; }
  @media (min-width: 1200px) {
    .header__search, .header__user, .header__bag {
      background-color: #d1e4f3; } }
  @media (min-width: 992px) {
    .header__search, .header__user, .header__bag {
      padding: 0 30px; } }
.header__search:hover input, .header__search:hover button {
  color: #daaa17; }
@media (max-width: 1199.99px) {
  .header__user {
    display: none !important; } }
.header__menu-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border-right: 1px solid rgba(189, 192, 189, 0.3);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  will-change: opacity; }
  .header__menu-container:hover .header__menu-line {
    background-color: #daaa17; }
    .header__menu-container:hover .header__menu-line:first-child {
      margin-right: 50%; }
    .header__menu-container:hover .header__menu-line:last-child {
      margin-left: 50%; }
.header__menu {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  height: 15px;
  margin: 0 15px;
  position: relative;
  width: 25px; }
  @media (min-width: 992px) {
    .header__menu {
      margin: 0 30px; } }
.header__menu-line {
  background-color: #36373b;
  border-radius: 3px;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%; }
  .header__menu-line:nth-child(1) {
    right: 0;
    top: 0;
    width: 50%; }
  .header__menu-line:nth-child(2) {
    top: 6px; }
  .header__menu-line:nth-child(3) {
    top: 12px;
    width: 50%; }
.header__inputbox {
  left: 8px;
  position: relative; }
  .header__inputbox:hover {
    color: #daaa17; }
    .header__inputbox:hover .header__search-delete, .header__inputbox:hover .header__input {
      color: #daaa17; }
.header__input {
  -webkit-transition-property: width, border-radius, padding, -webkit-box-shadow;
  transition-property: width, border-radius, padding, -webkit-box-shadow;
  transition-property: width, border-radius, box-shadow, padding;
  transition-property: width, border-radius, box-shadow, padding, -webkit-box-shadow;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  background: none;
  border-radius: 100%;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 2px currentColor;
          box-shadow: 0 0 0 2px currentColor;
  cursor: pointer;
  font-size: 12px;
  height: 10px;
  -webkit-transition-delay: 0.6s, 0.6s, 0.6s, 0.6s;
          transition-delay: 0.6s, 0.6s, 0.6s, 0.6s;
  width: 10px;
  will-change: opacity; }
  .header__input:focus, .header__input:valid {
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 1px currentColor;
            box-shadow: 0 0 0 1px currentColor;
    cursor: text;
    outline: 0;
    padding: 15px;
    -webkit-transition-delay: 0s, 0s, 0s, 0.15s;
            transition-delay: 0s, 0s, 0s, 0.15s;
    width: 140px; }
    @media (min-width: 576px) {
      .header__input:focus, .header__input:valid {
        width: 200px; } }
    .header__input:focus + .header__search-delete, .header__input:valid + .header__search-delete {
      left: -20px;
      -webkit-transition: left 0.3s ease-in-out 0s;
      transition: left 0.3s ease-in-out 0s;
      will-change: opacity; }
      .header__input:focus + .header__search-delete:before, .header__input:valid + .header__search-delete:before {
        -webkit-transform: translate(-5px, -50%) rotate(-45deg) scaleY(1.5);
                transform: translate(-5px, -50%) rotate(-45deg) scaleY(1.5);
        width: 1px; }
      .header__input:focus + .header__search-delete:after, .header__input:valid + .header__search-delete:after {
        -webkit-transform: translate(-5px, -50%) rotate(45deg) scaleY(1.5);
                transform: translate(-5px, -50%) rotate(45deg) scaleY(1.5);
        -webkit-transition-delay: 0.54s;
                transition-delay: 0.54s;
        width: 1px;
        will-change: opacity; }
.header__search-delete {
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  background: none;
  border: 0;
  cursor: pointer;
  height: 20px;
  left: 0;
  outline: none;
  position: relative;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  top: 0;
  width: 20px; }
  .header__search-delete:focus {
    outline: none; }
  .header__search-delete:before {
    -webkit-transition-property: width, -webkit-transform;
    transition-property: width, -webkit-transform;
    transition-property: transform, width;
    transition-property: transform, width, -webkit-transform;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    background: currentColor;
    content: "";
    height: 7.5px;
    position: absolute;
    -webkit-transform: translate(-8px, 50%) rotate(-45deg) scaleY(1);
            transform: translate(-8px, 50%) rotate(-45deg) scaleY(1);
    -webkit-transition-duration: 0.15s, 0.15s;
            transition-duration: 0.15s, 0.15s;
    -webkit-transition-delay: 0.45s;
            transition-delay: 0.45s;
    width: 2px;
    will-change: opacity; }
  .header__search-delete:after {
    -webkit-transition-property: width, -webkit-transform;
    transition-property: width, -webkit-transform;
    transition-property: transform, width;
    transition-property: transform, width, -webkit-transform;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    background: currentColor;
    content: "";
    height: 7.5px;
    position: absolute;
    -webkit-transform: translate(-4px, -50%) rotate(-45deg) scaleY(0);
            transform: translate(-4px, -50%) rotate(-45deg) scaleY(0);
    -webkit-transition-duration: 0.15s, 0.15s;
            transition-duration: 0.15s, 0.15s;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
    width: 2px;
    will-change: opacity; }

.item__name {
  font-family: "Rubik-medium", sans-serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 12px;
  text-align: right;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .item__name {
      font-size: 85px; } }
.item__info {
  margin: auto;
  min-height: 315px;
  min-width: 350px;
  padding: 0;
  position: relative;
  text-align: center; }
.item__info-slides-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 238px; }
  @media (min-width: 1200px) {
    .item__info-slides-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
.item__info-slides-item {
  -webkit-animation: slide 24s ease-in-out infinite;
          animation: slide 24s ease-in-out infinite;
  opacity: 1;
  position: absolute;
  right: initial; }
  @media (min-width: 1200px) {
    .item__info-slides-item {
      right: 0; } }
  .item__info-slides-item:nth-of-type(1) {
    -webkit-animation-delay: 0;
            animation-delay: 0; }
  .item__info-slides-item:nth-of-type(2) {
    -webkit-animation-delay: -16s;
            animation-delay: -16s; }
  .item__info-slides-item:nth-of-type(3) {
    -webkit-animation-delay: -8s;
            animation-delay: -8s; }
.item__actions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 1200px) {
    .item__actions {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
.item__price {
  padding: 40px 0 60px; }
.item__price-new {
  font-size: 20px; }
.item__price-old {
  color: #bdc0bd;
  font-family: "Rubik-light", sans-serif;
  font-size: 16px;
  padding-left: 10px;
  text-decoration: line-through; }
.item__author {
  font-family: "Rubik-light", sans-serif;
  font-size: 16px; }

.degree {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 65px; }
  .degree:after {
    content: "°"; }

.degree__container:hover + .hero__furniture-image {
  -webkit-animation: play-small 1.5s steps(16) infinite;
          animation: play-small 1.5s steps(16) infinite; }
  @media (min-width: 1400px) {
    .degree__container:hover + .hero__furniture-image {
      -webkit-animation: play-big 1.5s steps(16) infinite;
              animation: play-big 1.5s steps(16) infinite; } }

#navbar-menu:checked ~ .hero__navbar-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  width: 280px; }
#navbar-menu:checked ~ .hero__header, #navbar-menu:checked ~ .subtitle__hero {
  width: 100%; }
#navbar-menu:checked ~ .hero__header .header__menu span {
  background-color: #daaa17; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.btn-info:hover, .btn-action:hover {
  background-color: #ecd17e;
  color: #ffffff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px); }

.btn-info {
  background-color: #ffffff;
  color: #36373b;
  font-size: 12px;
  padding: 20px 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.btn-action {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  background-color: #36373b;
  -webkit-box-shadow: 0 35px 70px -10px rgba(0, 0, 0, 0.35);
          box-shadow: 0 35px 70px -10px rgba(0, 0, 0, 0.35);
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 20px 40px;
  text-transform: uppercase; }
  .btn-action:hover {
    color: #36373b; }
  @media (min-width: 1200px) {
    .btn-action {
      padding: 30px 50px; } }

.products {
  border-top: 1px solid rgba(189, 192, 189, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }
  @media (min-width: 1200px) {
    .products {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .products__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(189, 192, 189, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding-bottom: 60px; }
    @media (min-width: 1200px) {
      .products__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 33.33333%;
                flex: 0 0 33.33333%;
        max-width: 33.33333%; } }
    @media (min-width: 1200px) {
      .products__item {
        border: none;
        border-right: 1px solid rgba(189, 192, 189, 0.3);
        height: 600px;
        padding-bottom: 0; } }
    .products__item:last-child {
      border-right: none; }
    .products__item .sale {
      top: 90px; }
  .products__item-name {
    font-size: 27px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase; }
  .products__item-author {
    font-family: "Rubik-light", sans-serif;
    font-size: 14px;
    padding-bottom: 35px; }
  .products__item-price {
    font-size: 18px; }
  .products__item-image {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 240px;
    margin: 10px 0;
    width: 85%;
    will-change: opacity; }
    @media (min-width: 576px) {
      .products__item-image {
        height: 300px;
        margin-bottom: 30px;
        width: 85%; } }
    @media (min-width: 768px) {
      .products__item-image {
        height: 420px; } }
    @media (min-width: 992px) {
      .products__item-image {
        height: 520px; } }
    @media (min-width: 1200px) {
      .products__item-image {
        height: 350px;
        margin: 50px 0 0; } }
    .products__item-image:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .products__item-image--first {
      background-image: url("../../assets/images/cofee-table.png"); }
    .products__item-image--second {
      background-image: url("../../assets/images/blue-chair.png"); }
    .products__item-image--third {
      background-image: url("../../assets/images/seat.png"); }
  .products__item-description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.subtitle {
  font-family: "Rubik-light", sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  margin-top: 225px;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 100%;
  z-index: 100; }
  .subtitle__hero {
    margin-top: 100px;
    position: absolute; }
    @media (min-width: 768px) {
      .subtitle__hero {
        margin-top: 120px; } }
    @media (min-width: 1200px) {
      .subtitle__hero {
        margin-top: 75px;
        top: 8%; } }
  .subtitle__posts {
    margin-top: 60px; }
    @media (min-width: 576px) {
      .subtitle__posts {
        margin-top: 80px; } }
    @media (min-width: 992px) {
      .subtitle__posts {
        margin-top: 140px; } }
    @media (min-width: 1200px) {
      .subtitle__posts {
        margin-top: 80px; } }
  .subtitle .hero__border {
    border-top: 1px solid #36373b;
    margin: 0 auto;
    padding-bottom: 15px;
    width: 60px; }

.recent-posts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  border-top: 1px solid rgba(189, 192, 189, 0.3);
  margin-left: auto;
  margin-right: auto; }
.recent-posts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
  text-align: center; }
  @media (min-width: 1200px) {
    .recent-posts__info {
      margin-bottom: 0; } }
  .recent-posts__info .btn-posts {
    -ms-flex-item-align: center;
        align-self: center;
    background-color: transparent;
    border: 1px solid #bdc0bd;
    color: #36373b;
    display: inline-block;
    font-size: 12px;
    margin-top: 20px;
    padding: 20px 60px; }
    @media (min-width: 1200px) {
      .recent-posts__info .btn-posts {
        margin-top: 0; } }
    .recent-posts__info .btn-posts:hover {
      background-color: #36373b;
      color: #ffffff; }
.recent-posts__info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Rubik-medium", sans-serif;
  font-size: 45px;
  letter-spacing: 2px;
  padding-bottom: 70px; }
.recent-posts__info-subtitle {
  font-family: "Rubik-light", sans-serif;
  font-size: 14px;
  padding: 20px 0; }
.recent-posts__left, .recent-posts__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 1200px) {
    .recent-posts__left, .recent-posts__right {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; } }
.recent-posts__left {
  background-color: #d1e4f3;
  min-height: 300px; }
  @media (min-width: 992px) {
    .recent-posts__left {
      min-height: 600px; } }
.recent-posts__image {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  width: 100%;
  will-change: opacity; }
  .recent-posts__image:hover {
    opacity: 0.75;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
.recent-posts__image-wrapper {
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 50px;
  width: 85%;
  z-index: 100; }
  .recent-posts__image-wrapper:hover {
    background-color: #ffffff; }
  @media (min-width: 992px) {
    .recent-posts__image-wrapper {
      top: 150px; } }
  @media (min-width: 1200px) {
    .recent-posts__image-wrapper {
      margin: 0 0 0 23%; } }
.recent-posts__right {
  background-color: #ecedf1; }
.recent-posts__right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  padding-top: 25px;
  width: auto; }
  @media (min-width: 992px) {
    .recent-posts__right-container {
      padding-top: 100px; } }
  @media (min-width: 1200px) {
    .recent-posts__right-container {
      padding-left: 70px;
      width: 500px; } }

.collection {
  background-color: #ecedf1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  @media (min-width: 1200px) {
    .collection {
      height: 340px; } }
  .collection__right {
    background-color: #d1e4f3;
    height: 180px;
    position: relative;
    top: -10px;
    width: 90px; }
    @media (min-width: 1200px) {
      .collection__right {
        height: 360px;
        top: -20px;
        width: 180px; } }
  .collection__left .subtitle {
    bottom: 20px;
    position: absolute;
    top: auto; }
  .collection__items {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 650px;
    padding: 25px 0 40px; }
    @media (min-width: 1200px) {
      .collection__items {
        padding-bottom: 100px; } }
  .collection__item {
    height: 500px; }
  .collection__container-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden; }
  .collection__item-wrapper {
    -webkit-transition-property: height, background-color, -webkit-box-shadow;
    transition-property: height, background-color, -webkit-box-shadow;
    transition-property: height, background-color, box-shadow;
    transition-property: height, background-color, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    background-color: #f2f3f6;
    border: 1px solid rgba(189, 192, 189, 0.3);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 450px;
    margin: 25px 15px 0;
    position: relative;
    width: 270px;
    will-change: opacity; }
    .collection__item-wrapper:before {
      -ms-flex-item-align: center;
          align-self: center;
      border-top: 3px solid #36373b;
      content: "";
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      opacity: 0;
      position: relative;
      top: -4px;
      width: 130px; }
    .collection__item-wrapper:hover {
      background-color: #f5f6f9;
      border-bottom: 0;
      -webkit-box-shadow: 0 35px 70px -10px rgba(0, 0, 0, 0.2);
              box-shadow: 0 35px 70px -10px rgba(0, 0, 0, 0.2);
      height: 480px; }
      .collection__item-wrapper:hover .collection__button-discover {
        opacity: 1; }
      .collection__item-wrapper:hover .collection__item-title {
        padding-top: 25px; }
      .collection__item-wrapper:hover .collection__image {
        -webkit-transform: scale(1.3) rotate(-3deg);
                transform: scale(1.3) rotate(-3deg); }
      .collection__item-wrapper:hover:before {
        opacity: 1; }
  .collection__button-discover {
    -ms-flex-item-align: center;
        align-self: center;
    border: 1px solid rgba(189, 192, 189, 0.3);
    border-bottom: 3px solid #36373b;
    color: #36373b;
    font-size: 12px;
    opacity: 0;
    padding: 15px 40px; }
    .collection__button-discover:hover {
      background-color: #36373b;
      color: #ffffff; }
  .collection__image {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    background-position: -30% -15px;
    background-repeat: no-repeat;
    background-size: 135%;
    height: 330px; }
    .collection__image--tables {
      background-image: url("../../assets/images/table.png"); }
    .collection__image--lamps {
      background-image: url("../../assets/images/lamp.png"); }
    .collection__image--chairs {
      background-image: url("../../assets/images/chair.png"); }
    .collection__image--sofas {
      background-image: url("../../assets/images/sofa.png"); }
  .collection__item-title {
    -webkit-transition-property: padding-top;
    transition-property: padding-top;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase; }

.newsletter {
  background-color: #d1e4f3;
  padding: 50px 10px; }
  @media (min-width: 1200px) {
    .newsletter {
      padding: 70px 0; } }
  .newsletter__wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .newsletter__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 35px; }
  .newsletter__right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 330px;
    padding-top: 20px; }
    @media (min-width: 1200px) {
      .newsletter__right {
        padding-top: 0; } }
  .newsletter__title {
    font-family: "Rubik-medium", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    padding-bottom: 20px;
    white-space: nowrap; }
    @media (min-width: 1200px) {
      .newsletter__title {
        font-size: 32px; } }
  .newsletter__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Rubik-light", sans-serif;
    font-size: 14px;
    line-height: 30px; }
  .newsletter__input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #36373b;
    line-height: 45px;
    outline: none;
    width: 100%; }
    .newsletter__input::-webkit-input-placeholder {
      color: rgba(189, 192, 189, 0.3);
      font-family: "Rubik-light", sans-serif;
      font-size: 32px; }
    .newsletter__input:-ms-input-placeholder {
      color: rgba(189, 192, 189, 0.3);
      font-family: "Rubik-light", sans-serif;
      font-size: 32px; }
    .newsletter__input::placeholder {
      color: rgba(189, 192, 189, 0.3);
      font-family: "Rubik-light", sans-serif;
      font-size: 32px; }
  .newsletter__form {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .newsletter__form .btn-action:hover:hover {
      -webkit-transform: none;
              transform: none; }

.footer__container, .footer__bottom-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; }
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 20px; }
  @media (min-width: 768px) {
    .footer__container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media (min-width: 1200px) {
    .footer__container {
      padding: 80px 0; } }
.footer__bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px; }
  @media (min-width: 1200px) {
    .footer__bottom-container {
      padding: 0 10px 0 0; } }
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px; }
  @media (min-width: 1200px) {
    .footer__left {
      padding: 10px; } }
.footer__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 40px 20px 20px;
  text-align: right; }
  @media (min-width: 768px) {
    .footer__right {
      padding-top: 0; } }
  @media (min-width: 1200px) {
    .footer__right {
      padding-right: 10px; } }
.footer__left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 0; }
  @media (min-width: 576px) {
    .footer__left-column {
      padding-right: 40px; } }
.footer__bottom {
  border-top: 1px solid rgba(189, 192, 189, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0; }
.footer__column-title {
  font-family: "Rubik-medium", sans-serif;
  font-size: 18px;
  padding-bottom: 30px; }
.footer__link {
  color: #36373b;
  font-family: "Rubik-light", sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px; }
  .footer__link:hover {
    color: #daaa17; }
.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  padding: 0;
  white-space: nowrap; }
  @media (min-width: 1200px) {
    .footer__address {
      padding-bottom: 40px;
      padding-left: 35px; } }
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px; }
  @media (min-width: 1200px) {
    .footer__contact {
      padding-top: 0; } }
  .footer__contact span {
    padding-bottom: 15px; }
.footer__info {
  color: #8d959f;
  font-family: "Rubik-light", sans-serif;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
  padding-right: 20px; }
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 576px) {
    .footer__social {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media (min-width: 1200px) {
    .footer__social {
      -webkit-box-flex: 0;
          -ms-flex: 0;
              flex: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
.footer__social-title {
  font-family: "Rubik-medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-right: 20px;
  white-space: nowrap; }
.footer__social-icons {
  padding-top: 20px;
  white-space: nowrap; }
  .footer__social-icons a {
    color: #b7bbc9;
    padding-right: 10px; }
    .footer__social-icons a:last-child {
      padding-right: 0; }
  @media (min-width: 576px) {
    .footer__social-icons {
      padding-top: 0; } }

.sale {
  background-color: #ecd17e;
  color: #ffffff;
  font-size: 12px;
  left: -20px;
  letter-spacing: 2px;
  padding: 7px 15px;
  position: absolute;
  text-transform: uppercase;
  top: 65px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.degree-off {
  border: 10px solid #ecd17e; }

.degree-on {
  display: none; }

.degree {
  height: 65px;
  position: absolute;
  width: 65px; }
  .degree__container {
    height: 65px;
    position: absolute;
    right: -10px;
    top: 20%;
    width: 65px; }
    @media (min-width: 1200px) {
      .degree__container {
        right: 80px; } }
    .degree__container:hover .degree-off {
      display: none; }
    .degree__container:hover .degree-on {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

.halfclip {
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  width: 50%; }

.degree__container:hover .halfclip {
  -webkit-animation: cliprotate 1.5s infinite;
          animation: cliprotate 1.5s infinite; }

.halfcircle {
  border: solid 10px transparent;
  border-left-color: #ecd17e;
  border-radius: 50%;
  border-top-color: #ecd17e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0; }

.clipped {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 200%; }

.degree__container:hover .clipped {
  -webkit-animation: rotate 0.75s linear infinite;
          animation: rotate 0.75s linear infinite; }

.fixed {
  opacity: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 100%; }

.degree__container:hover .fixed {
  -webkit-animation: showfixed 1.5s infinite;
          animation: showfixed 1.5s infinite;
  opacity: 1; }

.cart {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  background-color: #f2f3f6;
  -webkit-box-shadow: 0 0 13px rgba(45, 50, 55, 0.5);
          box-shadow: 0 0 13px rgba(45, 50, 55, 0.5);
  line-height: 1.4;
  max-height: calc(100vh - 150px);
  max-width: 480px;
  min-width: 320px;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 55px;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  z-index: 100; }
  @media (min-width: 992px) {
    .cart {
      top: 75px; } }
  .cart__item-container {
    overflow: auto; }
  .cart__item {
    background-color: #f2f3f6;
    border-bottom: 1px solid rgba(189, 192, 189, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 10px 5px 10px;
    position: relative; }
  .cart__remove-item {
    color: #bdc0bd;
    cursor: pointer;
    font-size: 27px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 100; }
    .cart__remove-item:hover {
      color: #daaa17; }
  .cart__image-container {
    margin-right: 5px;
    width: 115px; }
  .cart__image-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .cart__item-image {
    width: 100%; }
  .cart__item-summary {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 14px;
    padding: 5px 0;
    text-align: left; }
  .cart__with-subhead {
    font-size: 18px;
    margin: 10px 0 0; }
  .cart__by-name {
    font-family: "Rubik-light", sans-serif;
    font-size: 12px; }
  .cart__item-total {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 5px; }
  .cart__item-quantity {
    background-color: #ffffff;
    border: 1px solid rgba(189, 192, 189, 0.3);
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 10px; }
  .cart__cart-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    text-align: left; }
    .cart__cart-footer .label {
      margin: 0;
      text-transform: uppercase;
      vertical-align: middle; }
  .cart__checkout {
    border: none;
    padding: 5px; }
    .cart__checkout .btn {
      background-color: #36373b;
      color: #ffffff;
      display: inline-block;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%; }
      .cart__checkout .btn:hover {
        background-color: #daaa17;
        cursor: pointer; }

#navbar-cart:checked ~ .header__right .header__bag {
  color: #daaa17; }
#navbar-cart:checked ~ .cart {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

_::-webkit-full-page-media .hero__slide-changer, _:future .hero__slide-changer, :root .hero__slide-changer {
  display: none; }
_::-webkit-full-page-media .item__info-slides-item, _:future .item__info-slides-item, :root .item__info-slides-item {
  left: 0; }
_::-webkit-full-page-media .products, _:future .products, :root .products {
  height: 1500px; }
  @media (min-width: 768px) {
    _::-webkit-full-page-media .products, _:future .products, :root .products {
      height: 2200px; } }
  @media (min-width: 1200px) {
    _::-webkit-full-page-media .products, _:future .products, :root .products {
      height: auto; } }
_::-webkit-full-page-media .newsletter__left, _::-webkit-full-page-media .newsletter__right, _:future .newsletter__left, _:future .newsletter__right, :root .newsletter__left, :root .newsletter__right {
  -webkit-box-flex: 1;
          flex: auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .products {
    height: 1500px; } }
  @media screen and (-ms-high-contrast: active) and (min-width: 768px), (-ms-high-contrast: none) and (min-width: 768px) {
    .products {
      height: 2200px; } }
  @media screen and (-ms-high-contrast: active) and (min-width: 1200px), (-ms-high-contrast: none) and (min-width: 1200px) {
    .products {
      height: auto; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .newsletter__left,
  .newsletter__right,
  .footer__left,
  .footer__right {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto; } }
