@charset "UTF-8";
@import url(vendor/normalize.css);
.hero__left, .hero__right {
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 100%; }

@font-face {
  font-family: "Rubik";
  src: url("shared/fonts/Rubik-Regular.woff2") format("woff2"), url("shared/fonts/Rubik-Regular.woff") format("woff");
  font-style: normal; }
@font-face {
  font-family: "Rubik-light";
  src: url("shared/fonts/Rubik-Light.woff2") format("woff2"), url("shared/fonts/Rubik-Light.woff") format("woff");
  font-style: normal; }
@font-face {
  font-family: "Rubik-medium";
  src: url("shared/fonts/Rubik-Medium.woff2") format("woff2"), url("shared/fonts/Rubik-Medium.woff") format("woff");
  font-style: normal; }
@font-face {
  font-family: "icons";
  src: url("shared/fonts/icons.woff2") format("woff2"), url("shared/fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
[class*=icon--] {
  display: inline-block;
  height: 20px; }
  [class*=icon--]:active, [class*=icon--]:hover, [class*=icon--]:focus {
    text-decoration: none; }
  [class*=icon--]:before {
    display: block;
    font-family: "icons";
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle; }
  [class*=icon--] + *, * + [class*=icon--] {
    margin-left: 10px; }
  [class*=icon--]:hover {
    color: #daaa17;
    cursor: pointer; }

.icon--bag:before {
  content: "\eb21"; }

.icon--search:before {
  content: "\eb36"; }

.icon--user:before {
  content: "\eb0e"; }

.icon--bag:before {
  font-size: 24px;
  position: relative; }

@-webkit-keyframes play-big {
  from {
    background-position: 0; }
  to {
    background-position: -16000px; } }

@keyframes play-big {
  from {
    background-position: 0; }
  to {
    background-position: -16000px; } }
@-webkit-keyframes play-small {
  from {
    background-position: 0; }
  to {
    background-position: -11584px; } }
@keyframes play-small {
  from {
    background-position: 0; }
  to {
    background-position: -11584px; } }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none; }

body {
  background-color: #ecedf1;
  color: #36373b;
  font-family: "Rubik", sans-serif; }

.hidden {
  display: none; }

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  overflow: hidden; }
  .hero__header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(189, 192, 189, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 75px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    white-space: nowrap;
    width: 100%;
    z-index: 100; }
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .hero__left, .hero__right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding-top: 75px; }
  .hero__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ecedf1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (min-width: 1200px) {
      .hero__left {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%; } }
  .hero__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #d1e4f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 1200px) {
      .hero__right {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%; } }
  .hero__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 747px;
    left: -35%;
    min-width: 1000px;
    position: relative;
    top: 10%; }
    .hero__image .hero__furniture-image {
      background-image: url("../../assets/images/sprite.png");
      height: 100%;
      width: 100%; }
  .hero__subtitle {
    font-family: "Rubik-light", sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    margin-top: 75px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 8%;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width: 100%;
    z-index: 1; }
    .hero__subtitle .hero__border {
      border-top: 1px solid #000;
      margin: 0 auto;
      padding-bottom: 15px;
      width: 60px; }
  .hero__navbar-left {
    background-color: #36373b;
    color: #ffffff;
    left: -10px;
    min-height: 100vh;
    padding-top: 75px;
    position: relative;
    -webkit-transform: translateX(-280px);
            transform: translateX(-280px);
    -webkit-transition: width 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: width 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    width: 0;
    z-index: 100; }
  .hero__navbar-left-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5px 0 30px; }
  .hero__navbar-left-item {
    color: #ecd17e;
    font-size: 12px;
    padding: 10px 0; }
    .hero__navbar-left-item:hover {
      color: #daaa17; }
  .hero__navbar-menu {
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 0 20px;
    text-transform: uppercase; }

.header__left, .header__right, .header__navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.header__menu-item {
  color: #36373b;
  font-size: 12px;
  margin: 0 30px;
  position: relative; }
  .header__menu-item ul {
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 10px 0 0 0;
    position: absolute;
    top: calc( 50% + $m);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    visibility: hidden;
    z-index: 300; }
    .header__menu-item ul li {
      background-color: #36373b;
      line-height: 20px;
      list-style: none;
      text-align: left;
      white-space: nowrap; }
      .header__menu-item ul li a {
        color: #ecd17e;
        display: block;
        padding: 5px 15px;
        text-decoration: none;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .header__menu-item ul li a:hover {
          color: #daaa17; }
      .header__menu-item ul li:first-child > a {
        padding-top: 10px; }
      .header__menu-item ul li:last-child > a {
        padding-bottom: 10px; }
  .header__menu-item:hover, .header__menu-item a:hover {
    color: #daaa17; }
    .header__menu-item:hover a + ul, .header__menu-item a:hover a + ul {
      opacity: 1;
      top: calc( 50% + $m-xs);
      visibility: visible; }
.header__logo {
  -ms-flex-item-align: center;
      align-self: center;
  color: #36373b;
  font-family: "Open sans", sans serif;
  font-size: 27px;
  font-weight: 600;
  margin-left: 30px;
  position: relative; }
  .header__logo:after {
    background-color: #ecd17e;
    bottom: 5px;
    content: "";
    height: 6px;
    position: absolute;
    right: -8px;
    width: 6px; }
.header__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
.header__left {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.header__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.header__text {
  font-size: 12px;
  padding-left: 10px; }
.header__search, .header__user, .header__bag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border-left: 1px solid rgba(189, 192, 189, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px; }

.item__name {
  font-family: "Rubik-medium", sans-serif;
  font-size: 85px;
  font-weight: 700;
  letter-spacing: 12px;
  text-align: right;
  text-transform: uppercase; }
.item__info {
  padding: 0 150px;
  text-align: center; }
.item__actions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.item__price {
  padding: 40px 0 60px; }
.item__price-new {
  font-size: 20px; }
.item__price-old {
  color: #bdc0bd;
  font-family: "Rubik-light", sans-serif;
  font-size: 16px;
  padding-left: 10px;
  text-decoration: line-through; }
.item__author {
  font-family: "Rubik-light", sans-serif;
  font-size: 16px; }

.degree {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 10px solid #ecd17e;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 100px;
  top: 20%;
  width: 65px; }
  .degree:after {
    content: "°"; }
  .degree:hover + .hero__furniture-image {
    -webkit-animation: play-big 1.5s steps(16) infinite;
            animation: play-big 1.5s steps(16) infinite; }

.header__menu {
  cursor: pointer;
  height: 15px;
  margin: 0 30px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 25px; }
  .header__menu:hover span {
    background-color: #daaa17; }
    .header__menu:hover span:first-child {
      margin-right: 50%; }
    .header__menu:hover span:last-child {
      margin-left: 50%; }
  .header__menu span {
    background-color: #36373b;
    border-radius: 3px;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    width: 100%; }
    .header__menu span:nth-child(1) {
      right: 0;
      top: 0;
      width: 50%; }
    .header__menu span:nth-child(2), .header__menu span:nth-child(3) {
      top: 6px; }
    .header__menu span:nth-child(4) {
      top: 12px;
      width: 50%; }
  .header__menu-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    border-right: 1px solid rgba(189, 192, 189, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

#navbar-menu:checked ~ .hero__navbar-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  width: 280px; }
#navbar-menu:checked ~ .hero__header, #navbar-menu:checked ~ .hero__subtitle {
  width: calc(100% - 280px); }

.inputbox {
  left: 8px;
  position: relative; }
  .inputbox:hover {
    color: #daaa17; }
    .inputbox:hover .header__search-delete, .inputbox:hover input {
      color: #daaa17; }
  .inputbox input {
    background: none;
    border-radius: 100%;
    border-width: 0;
    -webkit-box-shadow: 0 0 0 2px currentColor;
            box-shadow: 0 0 0 2px currentColor;
    cursor: pointer;
    font-size: 12px;
    height: 10px;
    -webkit-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in;
    transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in;
    transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in, padding 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in, padding 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in;
    -webkit-transition-delay: 0.6s, 0.6s, 0.6s, 0.6s;
            transition-delay: 0.6s, 0.6s, 0.6s, 0.6s;
    width: 10px;
    will-change: opacity; }
    .inputbox input:focus, .inputbox input:valid {
      border-radius: 0;
      -webkit-box-shadow: 0 0 0 1px currentColor;
              box-shadow: 0 0 0 1px currentColor;
      cursor: text;
      outline: 0;
      padding: 15px;
      -webkit-transition-delay: 0s, 0s, 0s, 0.15s;
              transition-delay: 0s, 0s, 0s, 0.15s;
      width: 200px; }
      .inputbox input:focus + .header__search-delete, .inputbox input:valid + .header__search-delete {
        left: -20px;
        -webkit-transition: left 0.3s ease-in-out 0s;
        transition: left 0.3s ease-in-out 0s;
        will-change: opacity; }
        .inputbox input:focus + .header__search-delete:before, .inputbox input:valid + .header__search-delete:before {
          -webkit-transform: translate(-5px, -50%) rotate(-45deg) scaleY(1.5);
                  transform: translate(-5px, -50%) rotate(-45deg) scaleY(1.5);
          width: 1px; }
        .inputbox input:focus + .header__search-delete:after, .inputbox input:valid + .header__search-delete:after {
          -webkit-transform: translate(-5px, -50%) rotate(45deg) scaleY(1.5);
                  transform: translate(-5px, -50%) rotate(45deg) scaleY(1.5);
          -webkit-transition-delay: 0.54s;
                  transition-delay: 0.54s;
          width: 1px;
          will-change: opacity; }
  .inputbox .header__search-delete {
    background: none;
    border: 0;
    cursor: pointer;
    height: 20px;
    left: 0;
    outline: none;
    position: relative;
    -webkit-transition: left 0.3s ease-in-out 0.6s;
    transition: left 0.3s ease-in-out 0.6s;
    width: 20px; }
    .inputbox .header__search-delete:focus {
      outline: none; }
    .inputbox .header__search-delete:before {
      background: currentColor;
      content: "";
      height: 7.5px;
      position: absolute;
      -webkit-transform: translate(-8px, 50%) rotate(-45deg) scaleY(1);
              transform: translate(-8px, 50%) rotate(-45deg) scaleY(1);
      -webkit-transition: width 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
      transition: width 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
      transition: transform 0.15s ease-in-out, width 0.15s ease-in-out;
      transition: transform 0.15s ease-in-out, width 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
      -webkit-transition-delay: 0.45s;
              transition-delay: 0.45s;
      width: 2px;
      will-change: opacity; }
    .inputbox .header__search-delete:after {
      background: currentColor;
      content: "";
      height: 7.5px;
      position: absolute;
      -webkit-transform: translate(-4px, -50%) rotate(-45deg) scaleY(0);
              transform: translate(-4px, -50%) rotate(-45deg) scaleY(0);
      -webkit-transition: width 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
      transition: width 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
      transition: transform 0.15s ease-in-out, width 0.15s ease-in-out;
      transition: transform 0.15s ease-in-out, width 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
      -webkit-transition-delay: 0.3s;
              transition-delay: 0.3s;
      width: 2px;
      will-change: opacity; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .btn:hover {
    background-color: #ecd17e;
    color: #ffffff;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }

.btn-white {
  background-color: #ffffff;
  color: #36373b;
  font-size: 12px;
  padding: 20px 50px; }

.btn-black {
  background-color: #36373b;
  -webkit-box-shadow: 0 35px 70px -10px rgba(0, 0, 0, 0.35);
          box-shadow: 0 35px 70px -10px rgba(0, 0, 0, 0.35);
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 30px 50px;
  text-transform: uppercase; }
  .btn-black:hover {
    color: #36373b; }

@media screen and (max-width: 1400px) {
  .hero__image {
    height: 555px;
    left: -25%;
    min-width: 724px; }
    .hero__image .hero__furniture-image {
      background: url("../../assets/images/sprite2.png"); }

  .degree:hover + .hero__furniture-image {
    -webkit-animation: play-small 1.5s steps(16) infinite;
            animation: play-small 1.5s steps(16) infinite; } }
@media screen and (max-width: 1199px) {
  .hero__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .hero__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 75px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .hero__image {
    left: auto; }

  .hero__header {
    width: auto; } }
