<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>stile - demo page</title>
    <link rel="stylesheet" href="../../assets/stylesheets/application.css">
  </head>
  <body>
    <div class="hero">
      <input class="hidden" id="navbar-menu" type="checkbox" />
      <header class="hero__header">
        <div class="header__left">
          <label for="navbar-menu" class="header__menu-container">
            <div class="header__menu">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </label>
          <a href="#" class="header__logo">
            stile
          </a>
        </div>
        <nav class="header__navigation">
          <span class="header__menu-item">
            <a href="#">Collection</a>
            <ul>
              <li><a href="#">Collection black</a></li>
              <li><a href="#">Collection brown</a></li>
              <li><a href="#">Collection white</a></li>
            </ul>
          </span>

          <a class="header__menu-item" href="#">Catalog</a>
          <a class="header__menu-item" href="#">About Us</a>
          <a class="header__menu-item" href="#">Blog</a>
        </nav>
        <div class="header__right">
          <div class="header__search">
            <form class=" header__icon inputbox">
              <input required="required">
              <button class="header__search-delete" type="reset"></button>
            </form>
          </div>
          <div class="header__user">
            <div class="header__icon icon--user">
              <span class="header__text">My Account</span>
            </div>
          </div>
          <div class="header__bag">
            <div class="header__icon icon--bag">
              <span class="header__text">Cart</span>
            </div>
          </div>
        </div>
      </header>
      <div class="hero__subtitle">
        <div class="hero__border"></div>
        New arivals
      </div>

      <nav class="hero__navbar-left">
        <div class="hero__navbar-left-container">
          <div class="hero__navbar-menu">
            menu
          </div>
          <a href="#" class="hero__navbar-left-item">
            Collection
          </a>
          <a href="#" class="hero__navbar-left-item">
            Catalog
          </a>
          <a href="#" class="hero__navbar-left-item">
            About Us
          </a>
          <a href="#" class="hero__navbar-left-item">
            Blog
          </a>
        </div>
      </nav>
      <section class="hero__content">
        <div class="hero__left">
          <div class="item__info">
            <div class="item__name">
                Calin
            </div>
            <div class="item__author">
              by Pascal Mourgue
            </div>
            <div class="item__price">
              <span class="item__price-new">$1,499</span><span class="item__price-old">&nbsp $2,310 &nbsp</span>
            </div>
            <div class="item__actions">
              <a class="btn btn-white" href="#">Discover</a>
              <a href="#" class="btn btn-black">add to cart</a>
            </div>
          </div>
        </div>
        <div class="hero__right">
          <div class="hero__image">
            <span class="degree">360</span>
            <div class="hero__furniture-image">
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
