<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>stile - demo page</title>
    <link rel="stylesheet" href="../../assets/stylesheets/application.css">
  </head>
  <body>
    <div class="hero">
      <input class="hidden" id="navbar-menu" type="checkbox" />
      <header class="hero__header">
        <div class="header__left">
          <label for="navbar-menu" class="header__menu-container">
            <div class="header__menu">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </label>
          <a href="#" class="header__logo">
            stile
          </a>
        </div>
        <nav class="header__navigation">
          <span class="header__menu-item">
            <a href="#">Collection</a>
            <ul>
              <li><a href="#">Collection black</a></li>
              <li><a href="#">Collection brown</a></li>
              <li><a href="#">Collection white</a></li>
            </ul>
          </span>

          <a class="header__menu-item" href="#">Catalog</a>
          <a class="header__menu-item" href="#">About Us</a>
          <a class="header__menu-item" href="#">Blog</a>
        </nav>
        <div class="header__right">
          <div class="header__search">
            <form class=" header__icon inputbox">
              <input required="required">
              <button class="header__search-delete" type="reset"></button>
            </form>
          </div>
          <div class="header__user">
            <div class="header__icon icon--user">
              <span class="header__text">My Account</span>
            </div>
          </div>
          <div class="header__bag">
            <div class="header__icon icon--bag">
              <span class="header__text">Cart</span>
            </div>
          </div>
        </div>
      </header>
      <div class="subtitle hero__subtitle">
        <div class="hero__border"></div>
        New arivals
      </div>
      <nav class="hero__navbar-left">
        <label for="navbar-menu" class="">
          <a class="hero__navbar-left-close">×</a>
        </label>
        <div class="hero__navbar-left-container">
          <div class="hero__navbar-menu">
            menu
          </div>
          <a href="#" class="hero__navbar-left-item">
            Collection
          </a>
          <a href="#" class="hero__navbar-left-item">
            Catalog
          </a>
          <a href="#" class="hero__navbar-left-item">
            About Us
          </a>
          <a href="#" class="hero__navbar-left-item">
            Blog
          </a>
          <a href="#" class="hero__navbar-left-item">
            My Account
          </a>
        </div>
      </nav>
      <section class="hero__content">
        <div class="hero__left">
          <div class="hero__slide-changer">
            <div class="hero__slide-changer-item"></div>
            <div class="hero__slide-changer-item"></div>
            <div class="hero__slide-changer-item"></div>
          </div>
          <div class="item__info">

            <div class="item__info-slides">
              <div class="item__info-slides-container">

                <div class="item__info-slides-item">
                  <div class="item__name">
                    Calin
                  </div>
                  <div class="item__author">
                    by Pascal Mourgue
                  </div>
                  <div class="item__price">
                    <span class="item__price-new">$1,499</span><span class="item__price-old">&nbsp $2,310 &nbsp</span>
                  </div>
                </div>

                <div class="item__info-slides-item">
                  <div class="item__name">
                    Deray
                  </div>
                  <div class="item__author">
                    by Pascal Mourgue
                  </div>
                  <div class="item__price">
                    <span class="item__price-new">$1,499</span><span class="item__price-old">&nbsp $2,310 &nbsp</span>
                  </div>
                </div>

                <div class="item__info-slides-item">
                  <div class="item__name">
                    Hiker
                  </div>
                  <div class="item__author">
                    by Pascal Mourgue
                  </div>
                  <div class="item__price">
                    <span class="item__price-new">$1,499</span><span class="item__price-old">&nbsp $2,310 &nbsp</span>
                  </div>
                </div>

              </div>
              <div class="item__actions">
                <a class="btn btn-white" href="#">Discover</a>
                <a href="#" class="btn btn-black">add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="hero__right">
          <div class="hero__image">
            <div class="degree__container">
              <div class="degree degree-off">360</div>

              <div class="degree degree-on">
                360
                <div class="halfclip">
                  <div class="halfcircle clipped">
                  </div>
                </div>
                <div class="halfcircle fixed">
                </div>
              </div>
            </div>

            <div class="hero__furniture-image">
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="products">
      <div class="products__item">
        <div class="products__item-image products__item-image--first">
        </div>
        <div class="products__item-description">
          <span class="products__item-name">
            Ashera
          </span>
          <span class="products__item-author">
            by Noemie Rognon
          </span>
          <span class="products__item-price">
            $399
          </span>
        </div>
      </div>
      <div class="products__item">
        <div class="sale">
          sale
        </div>
        <div class="products__item-image products__item-image--second">
        </div>
        <div class="products__item-description">
          <span class="products__item-name">
            Manarola
          </span>
          <span class="products__item-author">
            by Philippe Nigro
          </span>
          <span class="products__item-price">
            $1,199
          </span>
        </div>
      </div>
      <div class="products__item">
        <div class="products__item-image products__item-image--third">
        </div>
        <div class="products__item-description">
          <span class="products__item-name">
            Renaissance
          </span>
          <span class="products__item-author">
            by Veronica Vildgrubber
          </span>
          <span class="products__item-price">
            $399
          </span>
        </div>
      </div>
    </section>
    <section class="recent-posts__content">
      <div class="recent-posts__left">
        <div class="recent-posts__image-wrapper">
          <img class="recent-posts__image" src="../../assets/images/modern-home.jpg">
        </div>
      </div>
      <div class="recent-posts__right">
        <div class="recent-posts__right-container">
          <div class="subtitle">
            <div class="hero__border"></div>
              Recent posts
          </div>
          <div class="recent-posts__info">
            <div class="recent-posts__info-subtitle">In love with chic city living</div>
            <div class="recent-posts__info-title">
              <span>Metropolitan</span>
              <span>moods</span>
            </div>
            <a class="btn btn-posts" href="#">Discover</a>
          </div>
        </div>
      </div>
    </section>
    <section class="collection">
      <div class="collection__left">
        <div class="subtitle">
          <div class="hero__border"></div>
          Collection
        </div>
      </div>
      <div class="collection__right">
      </div>
    </section>
    <section class="collection__items">
      <div class="collection__item">
        <div class="collection__item-wrapper">
          <div class="sale">
            sale
          </div>
          <div class="collection__image collection__image--tables">
          </div>
          <div class="collection__item-title">
            Tables
          </div>
          <a class="collection__button-discover" href="">Discover</a>
        </div>
      </div>
      <div class="collection__item">
        <div class="collection__item-wrapper">
          <div class="collection__image collection__image--lamps">
          </div>
          <div class="collection__item-title">
            Lamps
          </div>
          <a class="collection__button-discover" href="">Discover</a>
        </div>
      </div>
      <div class="collection__item">
        <div class="collection__item-wrapper">
          <div class="sale">
            sale
          </div>
          <div class="collection__image collection__image--chairs">
          </div>
          <div class="collection__item-title">
            Chairs
          </div>
          <a class="collection__button-discover" href="">Discover</a>
        </div>
      </div>
      <div class="collection__item">
        <div class="collection__item-wrapper">
          <div class="collection__image collection__image--sofas">
          </div>
          <div class="collection__item-title">
            Sofas
          </div>
          <a class="collection__button-discover" href="">Discover</a>
        </div>
      </div>
    </section>
    <section class="newsletter">
      <div class="newsletter__wrapper">
        <div class="newsletter__left">
          <span class="newsletter__title">
            Join Our Newsletter
          </span>
          <span class="newsletter__info">
            <span>Subscribe today for free and save 10%</span>
            <span>on your first purchase</span>
          </span>
        </div>
        <div class="newsletter__right">
          <form class="newsletter__form">
            <input type=text class="newsletter__input" placeholder="Your email">
            <a href="#" class="btn btn-black">subscribe</a>
          </form>
        </div>
      </div>
    </section>
    <section class="footer">
      <div class="footer__container">
        <div class="footer__left">
          <div class="footer__left-column">
            <span class="footer__column-title">Navigate</span>
            <a href="#" class="footer__link">
              About us
            </a>
            <a href="#" class="footer__link">
              Blog
            </a>
            <a href="#" class="footer__link">
              Contact us
            </a>
            <a href="#" class="footer__link">
              Site map
            </a>
          </div>
          <div class="footer__left-column">
            <span class="footer__column-title">Categories</span>
            <a href="#" class="footer__link">
              New arivals
            </a>
            <a href="#" class="footer__link">
              Featured
            </a>
            <a href="#" class="footer__link">
              Catalog
            </a>
            <a href="#" class="footer__link">
              Popular brands
            </a>
          </div>
          <div class="footer__left-column">
            <span class="footer__column-title">Collection</span>
            <a href="#" class="footer__link">
              Tables
            </a>
            <a href="#" class="footer__link">
              Lamps
            </a>
            <a href="#" class="footer__link">
              Chairs
            </a>
            <a href="#" class="footer__link">
              Sofas
            </a>
          </div>
        </div>
        <div class="footer__right">
          <div class="footer__address">
            <span>123 Widget street</span>
            <span>Acmeville, AC 12345</span>
          </div>
          <div class="footer__contact">
            <span>
              hello@stilecompany.com
            </span>
            <span>
              +1-512-758-7588
            </span>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__bottom-container">
          <div class="footer__info">2017 &copy Site. by Stile Inc. All Rights Reserved. | Powered by BigThemes.</div>
          <div class="footer__social">
            <div class="footer__social-title">Get Social</div>
            <div class="footer__social-icons">
              <a href="#" class="icon--twitter"></a>
              <a href="#" class="icon--facebook"></a>
              <a href="#" class="icon--pinterest"></a>
              <a href="#" class="icon--instagram"></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
